In [1]:
#importing the libraries needed 
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

#Declaring the headers 
headers = {"Accept-Language": "en-US,en;q=0.5"}

#declaring the list of empty variables, So that we can append the data overall

movie_name = []
gross=[]
metascore =[]
genre=[]
votes = []
description = []
#creating an array of values and passing it in the url for dynamic webpages
pages = np.arange(1,1000,100)

#the whole core of the script
for page in pages:
    page = requests.get('https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1')
    soup = BeautifulSoup(page.text, 'html.parser')
    movie_data = soup.findAll('div', attrs = {'class': 'lister-item mode-advanced'})
    sleep(randint(2,8))
    for store in movie_data:
        name = store.h3.a.text
        movie_name.append(name)
        
        
        genres=store.p.find('span',class_='genre').text.replace("/n", "").rstrip().split(',') 
        genre.append(genres)
        
        value = store.find_all('span', attrs = {'name': "nv"})
        
        vote = value[0].text
        votes.append(vote)
        
        # Description of the Movies -- Not explained in the Video, But you will figure it out. 
        describe = store.find_all('p', class_ = 'text-muted')
        description_ = describe[1].text.replace('\n', '') if len(describe) >1 else '*****'
        description.append(description_)
        
        cast = store.find("p", class_ = '')
        cast = cast.text.replace('\n', '').split('|')
        cast = [x.strip() for x in cast]
        cast = [cast[i].replace(j, "") for i,j in enumerate(["Director:", "Stars:"])]
       
         
        grosses = value[1].text.replace('$', '') if  len (value) > 1 else '0'
        gross.append(grosses.replace('M', ''))
        
movie_list = pd.DataFrame({ "Movie Name": movie_name, 'genre':genre, "Votes" : votes, "Description": description,'gross':gross })

In [2]:
movie_list.head()

,Movie Name,genre,Votes,Description,gross
0,The Dark Knight,"[\nAction, Crime, Drama]","2,743,446",When the menace known as the Joker wreaks havo...,534.86
1,The Lord of the Rings: The Return of the King,"[\nAction, Adventure, Drama]","1,899,884",Gandalf and Aragorn lead the World of Men agai...,377.85
2,Spider-Man: Across the Spider-Verse,"[\nAnimation, Action, Adventure]","188,008","Miles Morales catapults across the Multiverse,...",0
3,Inception,"[\nAction, Adventure, Sci-Fi]","2,434,492",A thief who steals corporate secrets through t...,292.58
4,The Lord of the Rings: The Fellowship of the Ring,"[\nAction, Adventure, Drama]","1,928,281",A meek Hobbit from the Shire and eight compani...,315.54

In [3]:
movie_list.to_csv('Movie2.csv',index=None)

In [4]:
df=pd.read_csv('Movie2.csv')

In [5]:
df.head()

,Movie Name,genre,Votes,Description,gross
0,The Dark Knight,"['\nAction', ' Crime', ' Drama']","2,743,446",When the menace known as the Joker wreaks havo...,534.86
1,The Lord of the Rings: The Return of the King,"['\nAction', ' Adventure', ' Drama']","1,899,884",Gandalf and Aragorn lead the World of Men agai...,377.85
2,Spider-Man: Across the Spider-Verse,"['\nAnimation', ' Action', ' Adventure']","188,008","Miles Morales catapults across the Multiverse,...",0.00
3,Inception,"['\nAction', ' Adventure', ' Sci-Fi']","2,434,492",A thief who steals corporate secrets through t...,292.58
4,The Lord of the Rings: The Fellowship of the Ring,"['\nAction', ' Adventure', ' Drama']","1,928,281",A meek Hobbit from the Shire and eight compani...,315.54